/* Light theme colors */
:root {
    --accent: #1d1d1d;
    --background: #ffffff;
    --color: #1d1d1d;
    --border-color: #e6e6e6;
    --code-background: #f6f6f6;
    --code-color: #1d1d1d;
    --block-quote-border: #e6e6e6;
    --block-quote-color: #6c6c6c;
    --header-background: #ffffff;
    --header-color: #1d1d1d;
    --logo-color: #1d1d1d;
    --menu-color: #1d1d1d;
    --menu-border: #e6e6e6;
    --footer-background: #ffffff;
    --footer-color: #1d1d1d;
}
